/*body{
    height: 100%;
    }
*/

/* html */ 
p1 {
font-weight: 900;
color: rgb(143, 13, 121);
background-color: salmon;
}

p2 {
    font-weight: 900;
    color: rgb(143, 13, 121)
    }

div1 {
    border: 2px solid red;
    width: 100%;
    height: 25px;
    top: 0;
    left: 0;
    position: fixed;
}





/* DOM */ 
    h1 {color: red;}

    .coverclass{
    background-image: url(./2.jpg);
    position:fixed;
    width: 100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-size : 100% 100% ;
    top:40px;
    left:0px;
    z-index:1000;
    }

